BasedOnStyle: Google   # or LLVM, Microsoft, etc.
Standard: c++17
IndentWidth: 4
UseTab: Never
AccessModifierOffset: -3
BreakBeforeBraces: Allman
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortBlocksOnASingleLine: Always
ColumnLimit: 100